<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" (click)="sort('cedula')">
        Cedula
        <span class="fa fa-sort" *ngIf="key =='cedula'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
      <th scope="col" (click)="sort('Nombre')">
        Nombre
        <span class="fa fa-sort" *ngIf="key =='Nombre'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
      <th scope="col" (click)="sort('Apellido')">
        Apellido
        <span class="fa fa-sort" *ngIf="key =='Apellido'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
      <th scope="col" (click)="sort('Cargo')">
        Cargo
        <span class="fa fa-sort" *ngIf="key =='Cargo'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
       <th scope="col" (click)="sort('correo')">
        Correo
        <span class="fa fa-sort" *ngIf="key =='correo'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
      <th scope="col" (click)="sort('telefono')">
        Telefono
        <span class="fa fa-sort" *ngIf="key =='telefono'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
      </th>
      <th scope="col">
        Acciones
      </th>
    </tr>
     <tr>
      <th colspan="7">
        Buscar:
        <input class="form-control" [(ngModel)]="filter"/>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p };">
      <td>{{item.cedula}}</td>
      <td>{{item.Nombre}}</td>
      <td class="text-right">{{item.Apellido}}</td>
      <td>{{item.Cargo }}</td>
      <td>{{item.correo }}</td>
      <td>{{item.telefono }}</td>
      <td><a [routerLink]="['actualizar-empleado/', item.cedula]" class="btn btn-primary">Actualizar</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </td>
    </tr>
    </tfoot>
</table>

