<div class="col-md-12">
 
  <table
    class="table table-striped"
    [mfData]="data | empleadoFilter : filterQuery"
    #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage"
    [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder"
  >
    <thead class="thead-dark">
    <tr>
      <th scope="col">
        <mfDefaultSorter by="cedula">Cedula</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="cargo">cargo</mfDefaultSorter>
      </th>
       <th scope="col">
        <mfDefaultSorter by="correo">Correo</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="telefono">Acciones</mfDefaultSorter>
      </th>
    </tr>
    <tr>
      <th colspan="7">
        Buscar por nombre:
        <input class="form-control" [(ngModel)]="filterQuery"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.cedula}}</td>
      <td>{{item.Nombre}}</td>
      <td class="text-right">{{item.Apellido}}</td>
      <td>{{item.cargo }}</td>
      <td>{{item.correo }}</td>
      <td>{{item.telefono }}</td>
      <td><a [routerLink]="['actualizar-empleado/', item.cedula]" class="btn btn-primary">Actualizar</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>