<div class="col-md-12">
  
  <table
    class="table table-striped"
    [mfData]="data | dataFilter : filterQuery"
    #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage"
    [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder"
  >
    <thead class="thead-dark">
    <tr>
      <th scope="col" >
        <mfDefaultSorter by="codigo">Codigo</mfDefaultSorter>
      </th>
      <th scope="col" >
        <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
      </th>
      <th scope="col" >
        <mfDefaultSorter by="cantidad">Cantidad</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="precio">Precio</mfDefaultSorter>
      </th>
      <th scope="col" >
        <mfDefaultSorter by="categoria">Categoria</mfDefaultSorter>
      </th>
      <th scope="col" >
        <mfDefaultSorter by="actualizar">actualizar</mfDefaultSorter>
      </th>
    </tr>
    <tr>
      <th colspan="6">
        Buscar por nombre:
        <input class="form-control" [(ngModel)]="filterQuery"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.cantidad}}</td>
      <td>{{item.precio_estandar}}</td>
      <td>{{item.categoria}}</td>
      <td><a [routerLink]="['actualizar-productos/', item.id]" class="btn btn-primary">Actualizar</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
