<div class="content-wrapper">
  <div class="container-fluid">
		      <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <div class="box">
            <div class="text-info">Lista de productos {{ fecha | date:'dd-MM-yyyy'}}</div>
            <hr>
            <div *ngFor="let p of products">
            	<button class="btn btn-primary btn-lg btn-block" (click)="add(p)">
            		{{p.nombre}} - <i class="fa fa-money" aria-hidden="true"></i>{{p.precio_estandar}} - Cantidad: {{p.cantidad}}
            	</button>
	          </div>
	        </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="well">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Factura</h3>
            </div>
            <form #ClienteForm="ngForm" (ngSubmit)="onSubmit(ClienteForm)">
              <div *ngIf="order.length != 0">
              <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
                <strong>Cliente encontrado!</strong>
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="status == 'error'">
                <strong>Cliente nuevo!</strong> por favor llene todos los campos
              </div>
            	<label for="CedulaCliente">Cedula del cliente</label>
              <input class="form-control" name="cedula" #CedulaCliente="ngModel" [(ngModel)]="cliente.cedula" type="number" aria-describedby="nameHelp" min=100000 placeholder="Ingrese la cedula." (keydown)="onKeydown($event)">
              
              <div *ngIf="clientExist">
              	<label for="NombreCliente">Nombre del cliente</label>
                <input class="form-control" name="nombre" #NombreCliente="ngModel" [(ngModel)]="cliente.nombre" type="text" aria-describedby="nameHelp" placeholder="Nombre del Cliente"> 
                <label for="ApellidoCliente">Apellido del cliente</label>
                <input class="form-control" name="apellidos" #ApellidoCliente="ngModel" [(ngModel)]="cliente.apellidos" type="text" aria-describedby="nameHelp" placeholder="Apellidos del cliente">
  							<label for="DireccionCliente">Dirección del cliente</label>
                <input class="form-control" name="direccion" #DireccionCliente="ngModel" [(ngModel)]="cliente.direccion" type="text" aria-describedby="nameHelp" placeholder="Dirección del cliente">    
                <label for="TelefonoCliente">Telefono del cliente</label>
                <input class="form-control" name="telefono" #TelefonoCliente="ngModel" [(ngModel)]="cliente.telefono" type="text" aria-describedby="nameHelp" placeholder="Telefono del cliente">       
                
              </div>
              <input type="submit" name="asdfghj" class="btn btn-primary" [hidden]="!reg">
              </div>      
              <br>      	
            
            <div class="panel-body" style="max-height:320px; overflow:auto;">
              <div class="text-warning" *ngIf="order.length == 0">
                Orden vacia!
            </div>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of order; let i = index">                  
                  <span> {{item.item.nombre}} </span>

                  <div class="btn-group btn-group-toggle pull-right" role="group" aria-label="...">
                      <button type="button" class="btn btn-primary btn-xs " [disabled]="" (click)="subtractItem(item, $index)">
                        <span class="fa fa-minus"></span>
                      </button>
                      <button type="button" class="btn  btn-xs btn-success" (click)="addItem(item, i)">
                        <span class="fa fa-plus"></span>
                      </button>
                       <button type="button" class="btn btn-danger btn-xs"  (click)="deleteItem($index)">
                        <span class="fa fa-trash"></span>
                      </button>                     
                  </div>
                  <div class="label label-success pull-right">${{item.totalPrice}}</div>
                  <div class="label label-default pull-right">{{item.orderedItemCnt}}</div>

                </li>
              </ul>

            </div>
            <div class="panel-footer" *ngIf="!order.length == 0">
              <div class="label label-danger ">Total: ${{getSum()}}</div>
              <br>
              <div class="form-inline">
                <label for="sel1">Tipo de pago:</label>
                <select class="form-control" id="sel1" [(ngModel)]="tipo_pago" name="tipo_pago">
                  <option *ngFor="let kind of seleccion"
                      [value]="kind">{{kind}}</option>
                </select>
                <div *ngIf="tipo_pago == 'fiado'">
                  <label for="sel2">dias a pagar:</label>
                  <select class="form-control" id="sel2" [(ngModel)]="dia" name="dia">
                    <option *ngFor="let kind of seleccionDias"
                        [value]="kind">{{kind}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="pull-right" *ngIf="!order.length == 0">
              <button class="btn btn-default" (click)="clearOrder()" [disabled]="!order.length && cliente"><i class="fa fa-trash"></i>Borrar</button>
              <button type="submit" class="btn btn-danger" [disabled]="!order.length && cliente"  data-toggle="modal" data-target="#exampleModal">Checkout</button>

            </div>
            
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Pagar</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        ¿Desea procesar esta compra?
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						        <button type="button" class="btn btn-primary" (click)="checkout()" data-dismiss="modal">Pagar</button>
						      </div>
						    </div>
						  </div>
						</div>

            </form>

          </div>
        </div>
      </div>
    </div>
	</div>
</div>
