
<!-- Icon Cards-->
<div class="content-wrapper">
  <div class="container-fluid">
<div class="row">
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-user"></i>
        </div>
        <div class="mr-5">{{cant_emp}} Empleados registrados!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" [routerLink]="['empleados']">
        <span class="float-left">Ver más</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-list"></i>
        </div>
        <div class="mr-5">{{cant_products}} Productos!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" [routerLink]="['productos']">
        <span class="float-left">Ver más</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-shopping-cart"></i>
        </div>
        <div class="mr-5">{{cant_ventas}} Ventas!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" [routerLink]="['ventas']">
        <span class="float-left">Ver más</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>

<ngb-tabset>
  <ngb-tab title="Productos más vendidos.">
    <ng-template ngbTabContent>
      <div class="list-group list-group-flush small">
        <a class="list-group-item list-group-item-action" >
          <div class="media" *ngFor="let item of products">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
            <div class="media-body">
              <strong>{{item.nombre}} </strong>Cantidad: <strong>{{item.cant_sales}}</strong>.
              Se vendio un total de: <strong>{{item.total_sales}}</strong>.
              <div class="text-muted smaller">Ultima venta: {{item.fecha}}</div>
            </div>
          </div>
        </a>
        <br>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Rango de fechas">
    <ng-template ngbTabContent>
      <!--        datapicker     -->
      <div class="row">
        <div class="col-md-4">
          <p>Fecha inicio</p>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                    <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4">
          <p>Fecha fin</p>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <p>Mas ó menos vendido:</p>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <select name="orden"  [(ngModel)]="orden" class="form-control selectpicker" id="orden" >
                  <option value="asc">Producto menos vendido</option>
                  <option value="desc">Top 10 mas vendidos</option>
                </select>  
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg btn-block" (click)="buscarFecha()">Buscar</button>
        </div>
      </div>
      <!--        datapicker     -->
      <div class="list-group list-group-flush small" *ngIf="products_fechas_flat">
        <a class="list-group-item list-group-item-action" >
          <div class="media" *ngFor="let item of products_fechas">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
            <div class="media-body">
              <strong>{{item.nombre}} </strong>Cantidad: <strong>{{item.cant_sales}}</strong>.<br>
              Se vendio un total de: <strong>{{item.total_sales}}</strong>.
              <div class="text-muted smaller">Ultima venta: {{item.fecha}}</div>
            </div>
          </div>
        </a>
        <br>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Ganancias.">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-6">
          <label for="orden">Ganancias por: </label>
          <select name="consulta"  [(ngModel)]="consulta" class="form-control selectpicker" id="orden" >
            <option value="day">Hoy</option>
            <option value="month">Mes</option>
            <option value="year">Año</option>
          </select> 
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="consulta == 'year'">
            <label for="year">año: </label>
            <input class="form-control" id="year" type="number" min="1900" max="2099" step="1" [(ngModel)]="anioActual"/>            
          </div>       
          <div class="form-group" *ngIf="consulta == 'month'">
            <label for="month">mes: </label>
            <input class="form-control" id="month" type="number" min="1" max="12" step="1" [(ngModel)]="mesActual"/>
          </div>   
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg btn-block" (click)="buscarAnioMesDia()">Buscar</button>
        </div>        
      </div>
      <br>
      <div class="row" *ngIf="!dia_mes_anio">
        <div class="col-md-12">
          <p>Nada para mostrar</p>
        </div>        
      </div>
      <br>
      <div class="list-group list-group-flush small" *ngIf="dia_mes_anio">
        <a class="list-group-item list-group-item-action" >
          <div class="media" *ngFor="let item of dia_mes_anio">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
            <div class="media-body">
              <p *ngIf="item.total_sales">Ganancias por ventas para esta consulta: <strong>{{item.total_sales}}</strong>.</p>
              <p *ngIf="!item.total_sales">No se han obtenido ganancias por venta.</p>
            </div>
          </div>
        </a>
        <br>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

  


<br>

<div class="row">
  <!-- estadisticas -->
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i> Estadisticas</div>
      <div class="card-body">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
</div>